@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#__next {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

input {
  background: none;
}

input:focus {
  outline: none;
}

.leads-option::-webkit-scrollbar {
  display: none;
}

.lead-listing {
  border-bottom: 2px solid #1D203E;
}

.borderTransition {
  transition: border 300ms ease-in;
  -webkit-transition : border 300ms ease-in; 
  -moz-transition : border 300ms ease-in;
  -o-transition : border 300ms ease-in;
}

.bgTransition {
  transition: background-color 300ms ease-in;
  -webkit-transition : background-color 300ms ease-in; 
  -moz-transition : background-color 300ms ease-in;
  -o-transition : background-color 300ms ease-in;
}

.BTN {
  background: linear-gradient(to bottom right, #01B7C5, #C417E0);
}

.selected {
  background-color: #303450;
  border-color: #586FD1;
  user-select: none;
}

.selected div {
  transition: color 200ms ease-in-out;
  -webkit-transition : color 200ms ease-in-out; 
  -moz-transition : color 200ms ease-in-out;
  -o-transition : color 200ms ease-in-out;
  color: rgb(129 140 248);
}

.selected-tab {
  background-color: #383B59;
}

.overflowbreak {
  overflow-wrap: anywhere;
}

.lead-listing-name::-webkit-scrollbar {
  display: none;
}

.leads-banner {
  background-repeat: no-repeat;
  background-position: center center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100% 120%;
}

.scroll-section {
  position: absolute;
  top: 450px; 
  bottom: 0; 
  left: 0; 
  right: 0;
  overflow-y: auto;
}

  * {
    scrollbar-width: auto;
    scrollbar-color: #dedede #ffffff;
  }
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: none;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #dedede;
    border-radius: 10px;
    border: none;
  }

  .loginContainer {
    border: 5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to bottom right, #01B7C5, #C417E0);
  }