@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#__next {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #1D203E;
}

input {
  background: none;
}

input:focus {
  outline: none;
}

.leads-option::-webkit-scrollbar {
  display: none;
}

.lead-listing {
  border-bottom: 2px solid #1D203E;
}

.borderTransition {
  transition: border 300ms ease-in;
  -webkit-transition : border 300ms ease-in; 
  -moz-transition : border 300ms ease-in;
  -o-transition : border 300ms ease-in;
}

.bgTransition {
  transition: background-color 300ms ease-in;
  -webkit-transition : background-color 300ms ease-in; 
  -moz-transition : background-color 300ms ease-in;
  -o-transition : background-color 300ms ease-in;
}