.loginContainer {
  border: 5px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to bottom right, #01B7C5, #C417E0);
}

.loginBTN {
  background: linear-gradient(to bottom right, #01B7C5, #C417E0);
}